{% extends "layout.html" %}

{% block head %}
<script>
  $(document).ready(function() {

    //blocksit define
    $(window).load( function() {
      $('#container').BlocksIt({
        numOfCol: 5,
        offsetX: 5,
        offsetY: 8
      });
    });

    //window resize
    var currentWidth = 1100;
    $(window).resize(function() {
      var winWidth = $(window).width();
      var conWidth;
      if(winWidth < 660) {
        conWidth = 440;
        col = 2
      } else if(winWidth < 880) {
        conWidth = 660;
        col = 3
      } else if(winWidth < 1100) {
        conWidth = 880;
        col = 4;
      } else {
        conWidth = 1100;
        col = 5;
      }

      if(conWidth != currentWidth) {
        currentWidth = conWidth;
        $('#container').width(conWidth);
        $('#container').BlocksIt({
          numOfCol: col,
          offsetX: 8,
          offsetY: 8
        });
      }
    });
  });
</script>
{% endblock %}

{% block body %}

    <div id="wrapper" >
      <div class="panel">
        <h1>There you go, <em>enjoy.</em>.</h1>
      </div>

      <div id="container">
      {% for video in videos %}
        <div class="grid">
          <div class="actions">
            <div>
              <a href="#">
                <img src="/static/images/trash.png">
              </a>
            </div>
          </div>

          <div class="imgholder">
            <a href="{{ video.url }}">
              <img src="{{ video.thumb }}" />
            </a>
          </div> <!-- end of imgholder -->

          <strong>
            <a href=" {{ video.url }} ">{{ video.name }}</a>
          </strong>
          <p>{{ video.description }}</p>

          <div class="meta">{{ video.provider }}</div>
        </div> <!-- end of grid -->
      {% endfor %}
      </div> <!-- end of container -->
</div>
{% endblock %}